@using SPRYPayServer.Client
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SPRYPayServer.TagHelpers
@using SPRYPayServer.Views.Apps
@using SPRYPayServer.Abstractions.Extensions
@using SPRYPayServer.Services.Apps
@model SPRYPayServer.Components.MainNav.StoreApp

@{ var store = Context.GetStoreData(); }

@if (store != null && Model.AppType == AppType.PointOfSale)
{
    <li class="nav-item" permission="@Policies.CanModifyStoreSettings">
        <a asp-area="" asp-controller="UIPointOfSale" asp-action="UpdatePointOfSale" asp-route-appId="@Model.Id" class="nav-link @ViewData.IsActivePage(AppsNavPages.Update, Model.Id)" id="@($"StoreNav-App-{Model.Id}")">
            <vc:icon symbol="@Model.AppType.ToString().ToLower()"/>
            <span>@Model.AppName</span>
        </a>
    </li>
}

